@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";
}

<h1>All Employee</h1>
<br />
<br />
<form asp-action="Index">
    <div class=" container" >
        <div class="row justify-content-center d-flex">
            <div  class="col-6 ">
                <input type="text" class="form-control" name="Search" id="mo">
            </div>
            <div class="col-6" >
                <button type="submit" class="btn btn-primary">Submit</button>
                </div>
        </div>
    </div>
</form>
<br />
<a asp-action="Create" class="btn btn-outline-primary">Create</a>
<br />
<br />
@if (Model.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Age</th>
                <th>Email</th>
                <th>Department</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td> 
                        <img src="~/Image/@item.ImageName" width="50" class="img-fluid rounded-circle">
                        </td>
                    <td>@item.Name</td>
                    <td>@item.Phone</td>
                    <td>@item.Age</td>
                    <td>@item.Email</td>
                    @{if (item.Department is not  null)
                        {
                            <td>@item.Department.Name</td>
                        }
                        else
                        {
                            <td>free</td>
                        }
                    }
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-secondary">Details</a>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class=" btn btn-outline-success">Update</a>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id" class=" btn btn-outline-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-primary" role="alert">
        <h4>Table is Empty</h4>
    </div>
}